$white: #ffff;
$grey: #EBE9D7;
$darkGrey: #383743;
$lighterBlue: #5dc6c7 ;
$blue: #57bbbc;
$red: #D84570;

.enterprise-types{
    display: flex;
    margin: 1vh 0 0 0;
    overflow-x: auto;
    padding: 1vh;

    &__button{
        border: .01vh solid $red;
        border-radius: 5px;
        color: $darkGrey;
        background-color: transparent;
        font-family: "Roboto-Regular";
        font-size: 1.5vh;
        margin-right: 1vh;
        min-width: 9vh;
        min-height: 4vh;
        padding: .5vh;

        &:hover{
            cursor: pointer;
            font-family: "Roboto-Bold";
            color: $white;
            background-color: $red;
            transition: font-family ease-in-out 100ms;
        }
        &:focus{
            outline: none;
        }
    }
}
.--active{
    font-family: "Roboto-Bold";
    color: $white;
    background-color: $red;
}