$white: #ffff;
$grey: #EBE9D7;
$darkGrey: #383743;
$lighterBlue: #5dc6c7;
$blue: #57bbbc;
$red: #D84570;
$lightGreen: #7DC075;

.result{

    &__navbar{
        display: flex;
        align-items: center;
        min-height: 8vh;
        background-color: $red;
        padding-top: 3vh;
    }
    &__backtrack{
        display: inline-block;
        background-image: url('../../images/ic-backtrack.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 3vh;
        width: 3vh;
        height: 5vh;
        border: 0;
        outline: none;
        margin: 0 0 0 2vh;
    
        &:hover{
            cursor: pointer;
        }
    }
    &__enterprise-name{
        margin: 0 0 0 3vh;
        display: inline-block;
        color: $white;
        font-family: "Roboto-Regular";
        font-size: 2.5vh;
        letter-spacing: 1.2px;
    }
    &__description{
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: $white;
        margin: 1rem;
        padding: 5vh; 
        min-width: 30vh;

        &-thumbnail{
            display: flex;
            align-items: center;
            background-color: $lightGreen;
            color: $white;
            font-family: "Roboto-Bold";
            text-align: center;
            font-size: 6vh;
            height: 20vh;
            min-width: 30vh;
            width: 40%;

            & span{
                display: block;
                margin: 0 auto 0 auto;
            }
        }
        &-text{
            font-family: "SourceSansPro-Regular";
            font-size: 2vh;
            color: #8d8c8c;
            margin-top: 5vh;
            width: 40%;
            text-align: left;
        }
    }
}