$white: #ffff;
$grey: #EBE9D7;
$darkGrey: #383743;
$lighterBlue: #5dc6c7;
$blue: #57bbbc;
$red: #D84570;

.navbar{
    width: 100%;
    min-height: 8vh;
    background-color: $red;
    padding-top: 3vh;
    
    &__input{
        margin: 0 2vh 0 2vh;
        display: flex;
        
        transition: width 5s ease-in-out;
        -moz-transition: width 5s ease-in-out; /* Firefox 4 */
        -webkit-transition: width 5s ease-in-out; /* Safari and Chrome */
        -o-transition: width 5s ease-in-out; /* Opera */
        -ms-transition: width 5s ease-in-out; /* Explorer 10 */
    }
    &__logo{
        background-image: url('../../images/logo-nav.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 20vh;
        width: 20vh;
        height: 5vh;
        margin: 0 auto 0 auto;
    }
}
.filter{
    &__button{
        background-repeat: no-repeat;
        background-position: center;
        background-size: 5vh;
        width: 5vh;
        height: 5vh;
        border: 0;
        outline: none;
        background-color: transparent;
    
        &:hover{
            cursor: pointer;
        }
    }
    &__pesquisa{
        color: $white;
        font-family: "Roboto-Regular";
        font-size: 2vh;
        letter-spacing: 2px;
        width: 92%;
        background-color: transparent !important;
        border: none;

        &:-webkit-autofill,
        &:-webkit-autofill:hover, 
        &:-webkit-autofill:focus, 
        &:-webkit-autofill:active  {
            color: $white !important;
            box-shadow: 0 0 0 30px $red inset;
            -webkit-box-shadow: 0 0 0 30px $red inset;
        } 
        &:focus{
            outline: none;
        }
        &::placeholder{
            color: $darkGrey;
        }
    }
}
.--search{
    background-image: url('../../images/ic-search-copy.svg');
}
.--close{
    background-image: url('../../images/ic-close.svg');
}
.--input-mode{
    border-bottom: .01vh solid $white;
    width: 96%;
    float: right;

    transition: width 5s ease-in-out;
    -moz-transition: width 5s ease-in-out; /* Firefox 4 */
    -webkit-transition: width 5s ease-in-out; /* Safari and Chrome */
    -o-transition: width 5s ease-in-out; /* Opera */
    -ms-transition: width 5s ease-in-out; /* Explorer 10 */
}