$white: #ffff;
$grey: #EBE9D7;
$darkGrey: #383743;
$lighterBlue: #5dc6c7 ;
$blue: #57bbbc;
$red: #ff0f44;
$green: #57bbbc;

.--hidden{
    display: none !important;
}
.--invisible{
    visibility: hidden;
}
.login{
    margin-top: 20vh;
    padding: 1vh;
    text-align: center;
    font-family: "Roboto-Regular";

    &__input{

        &-feedback{
            color: $red;
            font-size: 1.5vh;
            margin: 2vh 0 0 0;
        }
    }
    &__logo{
        background-image: url('../../images/logo-home.png');
        background-size: 30vh;
        width: 100%;
        min-width: 35vh;
        min-height: 10vh;
        background-position: center;
        background-repeat: no-repeat;
    }
    &__description-container{
        margin: 8vh 0 0;
    }
    &__description{
        display: inline-block;
        margin: 0 auto 0 auto;
        line-height: 1.4;
        color: $darkGrey;
        text-align: center;

        &-title{
            line-height: 1.4;
            font-family: "Roboto-Bold";
            font-size: 2.5vh;
        }
        &-text{
            margin: 2vh 0 0;
            font-size: 1.9vh;
        }
    }
    &__form{
        display: inline-block;
        width: 100%;

        &-label{
            display: inline-block;
            width: 3vh;
            height: 3vh;
            background-size: 3vh;
            background-position: center;
            background-repeat: no-repeat;
        }
        &-input{
            display: inline-block;
            margin: 3vh auto 0 auto;
            border-bottom: .01vh solid $darkGrey;
            width: 33%;
            min-width: 30vh;
            padding-bottom: .5vh;
            position: relative !important;
            z-index: 10;

            &-status{
                color: $white;
                display: inline-block;
                width: 3.2vh;
                height: 3.2vh;
                font-size: 2.5vh;
                background-color: $red;
                border-radius: 50%;
            }
            &-show{
                background-image: url('../../images/ic-ic-eye-password.svg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: 3vh;
                border: none;
                background-color: transparent;
                width: 3.2vh;
                height: 3.2vh;

                &:hover{
                    cursor: pointer;
                }
            }
        }
        &-email , &-password{
            color: #403e4d;
            letter-spacing: 2px;
            font-size: 1.9vh;
            background-color: transparent;
            border: none;
            display: inline-block;
            width: 80%;
            min-width: 27vh;
            padding: .5vh;

            &:-webkit-autofill,
            &:-webkit-autofill:hover, 
            &:-webkit-autofill:focus, 
            &:-webkit-autofill:active  {
                box-shadow: 0 0 0 30px transparent inset;
                -webkit-box-shadow: 0 0 0 30px transparent inset;
            } 
            &:focus{
                outline: none;
            }
        }
    }
    &__button{
        font-family: "Roboto-Bold";
        font-size: 1.8vh;
        color: $white;
        background-color: $blue;
        border: none;
        border-radius: 2px;
        width: 30%;
        min-width: 26vh;
        height: 6vh;
        margin: 1vh 0 0 0;

        &:hover{
            background-color: $lighterBlue;
            transition: background-color ease-in-out 100ms;
            cursor: pointer;
        }
        &:focus{
            outline: none;
        }
    }
}
.--email{
    background-image: url('../../images/ic-email.svg');
}
.--password{
    background-image: url('../../images/ic-cadeado.svg');
}
.--blured{
    filter: blur(4px);
    -webkit-filter: blur(4px);
}
.loader-modal{
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 1000;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.loader {

    border: 1.2vh solid $green; /* Light grey */
    border-top: 1.2vh solid transparent; /* Blue */
    border-radius: 50%;
    width: 12vh;
    height: 12vh;
    animation: spin 2s linear infinite;
    margin: 0 auto 0 auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}